<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="userSettings"
		              type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="nsZip.Properties.Settings"
			         type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			         allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<userSettings>
		<nsZip.Properties.Settings>
			<setting name="OutputFolder" serializeAs="String">
				<value />
			</setting>
			<setting name="Verification" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="CheckForUpdates" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="CompressionLevel" serializeAs="String">
				<value>18</value>
			</setting>
			<setting name="BlockSize" serializeAs="String">
				<value>262144</value>
			</setting>
			<setting name="TempFolder" serializeAs="String">
				<value />
			</setting>
			<setting name="KeepTempFiles" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="StandbyWhenDone" serializeAs="String">
				<value>0</value>
			</setting>
		</nsZip.Properties.Settings>
	</userSettings>
</configuration>