<?xml version="1.0" encoding="utf-8"?>

<packages>
	<package id="RunProcessAsTask" version="1.2.3" targetFramework="net461" />
	<package id="Syroot.IO.BinaryData" version="4.0.4" targetFramework="net461" />
	<package id="System.Buffers" version="4.5.0" targetFramework="net46" />
	<package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net461" />
	<package id="Zstandard.Net" version="1.1.6" targetFramework="net46" />
</packages>